body {
  background-color: #a0ae92;
  font-family: "Proxima Nova";
}

h1 {
  font-family: "Georgia";
  font-size: 90px;
  letter-spacing: 4px;
}

h2 {
  font-family: "Georgia";
  font-size: 43px;
  letter-spacing: 4px;
}

h3 {
  font-size: 28px;
}


/* SOCIAL MEDIA ICONS */

.icons {
  font-family: "icomoon";
  color: #595959;
}

.header-icons {
  font-size: 20px;
  padding: 10px;
}


/* NAVBAR */

.navbar-center {
  position: absolute;
  left: 35%;
}


/* HEADER */

header {
  padding-top: 40px;
  padding-bottom: 80px;
}


/* CAROUSEL */

.jumbotron {
  height: 450px;
}

.jumbotron .btn {
  margin-top: 40px;
}


/* IMAGE LINKS */

.image {
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-links h4 {
  position: absolute;
  top: 35%;
  left: 38%;
  padding: 20px;
  border: 1px solid #e5e5e5;
  background-color: #565656;
  color: #e5e5e5;
}



/* BLOG */

/* check all this stuff */

.blog-post {
  background-color: #ffffff;
}

.blog-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blog-post h3 {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0;
}

.blog-post p {
  font-size: 15px;
  margin-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.blog-footer {
  font-size: 13px;
  color: #979797;
  background-color: #f9f9f9;
  box-shadow: 0 2px 2px -2px #a8a8a8;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.blog-post-date, .blog-post-readmore {
  border: 1px solid #979797;
  padding: 5px;
  letter-spacing: 1px;
}


/* SIDEBAR */

/* check all this stuff */

section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 2px -2px #a8a8a8;
}

.section-title {
  color: #a8a8a8;
  border: 1px solid #e5e5e5;
  padding: 10px;
  letter-spacing: 1px;
}

.img-circle {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.advert {
  height: 500px;
}

.categories a {
  color: #646464;
  font-size: 16px;
  letter-spacing: 1px;
}

.subscribe {
  letter-spacing: 1px;
}


/* FOOTER */

footer {
  background-color: #fff;
}

.footer-top {
  padding: 40px;
}

.jump-button {
  color: #eaeaea;
  background-color: #a8a8a8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  margin-left: 150px;
}

.footer-image {
  max-height: 300px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-copyright {
  padding-bottom: 15px;
}
