body {
    background-color: #b3ccff;
}
header footer {
    margin:20px;
}
/*header stuff*/
.icon {
    font-family: "icomoon";
}
.tagline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;

    
}
.image {
    max-width: 100%;
    height: auto;
}
.logo-top {
    margin-bottom: 20px;
}

/*interests windows*/
.sw-image {
    width:100%;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.interests, .info-units {
    margin: 20px;
}


.box-text {
    font-size: 18px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px 40px;
}

.image-small {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float:left;
}
/*video embed stuff*/
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/*interests section*/
.title { 
    text-align: center;
}
.entry {
    border: 1px solid #d0d0d0;
    padding: 5px;
    margin: 10px;
}
.articlefooter {
    height: 20px;
}
.articledate, .articleread  {
    border: 1px solid #d0d0d0; 
 }
.articledate {
    margin-left: 20px;
    margin-right: 50px;
}

.article-icon {
    padding: 5px 20px;
}

.articleread {
    margin-left: 50px;
    margin-right: 0;

}
.read-more-button {
    margin-left: 0;
    background-color: #1f7a1f;
    color: #ffffff;
    width:20px;
    border: none;
    display: inline-block;
    text-align: center;
    height: 20px;
}
/*hide social media icons when small*/
@media (max-width: 768px) {
    .article-icon {
        display: none;
    }
    .articledate, .articleread {
        margin: 2px;
        padding: 2px;
    }
}
/*sidebar stuff*/
.aboutme, .follow, .subscribe, .recentposts{
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.side-title {
    border: 1px solid #000000;
    background-color: #ffffff;
    margin: 10%;
}
.me-image { 
    border-radius: 50%;
}
.search {
    margin: 20px;
}
.submitbutton {
    height:150 px;
    width: 250px;
}